# Convolution layer

In [1]:
import tensorflow as tf
import pandas as pd

In [15]:
#데이터 준비
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [9]:
#모델을 만든다

X = tf.keras.layers.Input(shape=[28,28,1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [10]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 12s 3ms/step - loss: 2.6438 - accuracy: 0.8471
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0988 - accuracy: 0.9743
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0661 - accuracy: 0.9823
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0501 - accuracy: 0.9862
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0380 - accuracy: 0.9902
Epoch 6/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0406 - accuracy: 0.9891
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0373 - accuracy: 0.9910
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0310 - accuracy: 0.9928
Epoch 9/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0300 - accuracy: 0.9934
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0298 - accuracy: 0.9933

In [11]:
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [12]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [13]:
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_7 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten_2 (Flatten)          (None, 2400)              0
_________________________________________________________________
dense_3 (Dense)              (None, 84)                201684
_________________________________________________________________
dense_4 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________

In [14]:
84* (2400+1) + 10 *(84+1) + 78 + 456

203068

In [16]:
#real cnn
X = tf.keras.layers.Input(shape=[28,28,1])

H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)

H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [18]:
model.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_5 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_8 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 3)         0
_________________________________________________________________
conv2d_9 (Conv2D)            (None, 8, 8, 6)           456
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 4, 4, 6)           0
_________________________________________________________________
flatten_3 (Flatten)          (None, 96)                0
_________________________________________________________________
dense_5 (Dense)              (None, 84)                8148
_________________________________________________________________
dense_6 (Dense)              (None, 10)                850
=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________