# Flatten Layer를 활용한 이미지 학습

# with reshpae

In [1]:
import tensorflow as tf
import pandas as pd

In [3]:
#데이터 준비
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립.reshape(60000,784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [4]:
#모델을 만들고 
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation="softmax")(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [5]:
#모델 학습
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 4s 2ms/step - loss: 6.0762 - accuracy: 0.7947
Epoch 2/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.5265 - accuracy: 0.9114
Epoch 3/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4582 - accuracy: 0.9296
Epoch 4/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4158 - accuracy: 0.9344
Epoch 5/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4066 - accuracy: 0.9401
Epoch 6/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3747 - accuracy: 0.9419
Epoch 7/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3543 - accuracy: 0.9472
Epoch 8/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3566 - accuracy: 0.9446
Epoch 9/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3494 - accuracy: 0.9499
Epoch 10/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3335 - accuracy: 0.9489

In [7]:
#모델을 이용
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3     4    5    6    7    8     9
0  0.0  0.0  0.0  0.0  0.00  1.0  0.0  0.0  0.0  0.00
1  1.0  0.0  0.0  0.0  0.00  0.0  0.0  0.0  0.0  0.00
2  0.0  0.0  0.0  0.0  1.00  0.0  0.0  0.0  0.0  0.00
3  0.0  1.0  0.0  0.0  0.00  0.0  0.0  0.0  0.0  0.00
4  0.0  0.0  0.0  0.0  0.02  0.0  0.0  0.0  0.0  0.98

In [8]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

# With flatten

In [9]:
#데이터 준비
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [10]:
#모델을 만들고 
X = tf.keras.layers.Input(shape=[28,28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation="softmax")(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [11]:
model.fit(독립, 종속, epochs = 10)

Epoch 1/10
1875/1875 [==============================] - 3s 2ms/step - loss: 6.2963 - accuracy: 0.7904
Epoch 2/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.5779 - accuracy: 0.9094
Epoch 3/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4639 - accuracy: 0.9272
Epoch 4/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4200 - accuracy: 0.9350
Epoch 5/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.4121 - accuracy: 0.9383
Epoch 6/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3715 - accuracy: 0.9441
Epoch 7/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3603 - accuracy: 0.9441
Epoch 8/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3613 - accuracy: 0.9459
Epoch 9/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3445 - accuracy: 0.9499
Epoch 10/10
1875/1875 [==============================] - 3s 2ms/step - loss: 0.3598 - accuracy: 0.9488

In [12]:
#모델을 이용
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [13]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1